:root {
  --border-width: 2px;
  --border-radius: var(--spacing-h);
  --border: var(--border-width) solid var(--color-border);
}

.border {
  border: var(--border);
  border-radius: var(--border-radius);
}

.border-bottom {
  border-bottom: var(--border);
}
