:root {
  --gradient-text-bg: linear-gradient(
    0deg,
    rgb(0 0 0 / 80%) 0%,
    rgb(0 0 0 / 0%) 50%
  );
  --gradient-diamond-v: linear-gradient(
    0deg,
    var(--color-diamond-01) 0%,
    var(--color-diamond-02) 0.01%,
    var(--color-diamond-03) 49.48%,
    var(--color-diamond-04) 50.87%,
    var(--color-diamond-02) 100%
  );
  --gradient-gold-v: linear-gradient(
    0deg,
    var(--color-gold-01) 0%,
    var(--color-gold-02) 56.8%,
    var(--color-gold-01) 100%
  );
  --gradient-silver-v: linear-gradient(
    0deg,
    var(--color-silver-01) 0%,
    var(--color-silver-02) 0%,
    var(--color-silver-03) 56.8%,
    var(--color-silver-04) 100%,
    var(--color-silver-01) 100%
  );
  --gradient-bronze-v: linear-gradient(
    0deg,
    var(--color-bronze-01) 0%,
    var(--color-bronze-02) 56.8%,
    var(--color-bronze-01) 100%
  );
  --gradient-diamond-h: linear-gradient(
    90deg,
    var(--color-diamond-01) 0%,
    var(--color-diamond-02) 0.01%,
    var(--color-diamond-03) 49.48%,
    var(--color-diamond-04) 50.87%,
    var(--color-diamond-02) 100%
  );
  --gradient-gold-h: linear-gradient(
    90deg,
    var(--color-gold-01) 0%,
    var(--color-gold-02) 56.8%,
    var(--color-gold-01) 100%
  );
  --gradient-silver-h: linear-gradient(
    90deg,
    var(--color-silver-01) 0%,
    var(--color-silver-02) 0%,
    var(--color-silver-03) 56.8%,
    var(--color-silver-04) 100%,
    var(--color-silver-01) 100%
  );
  --gradient-bronze-h: linear-gradient(
    90deg,
    var(--color-bronze-01) 0%,
    var(--color-bronze-02) 56.8%,
    var(--color-bronze-01) 100%
  );
}
