ul.c-list-list {
  --space: 0px;

  background: var(--color-bg-alt);
  border-radius: var(--spacing-q);
  border: 1px solid var(--color-bg);
  list-style: none;
  padding: 0;
}

ul.c-list-list .c-list-row:not(:last-child) {
  border-bottom: 1px solid var(--color-bg);
}
