.header-site {
  padding-top: var(--spacing-02);
  color: var(--color-fg-alt);
}

.header-site .logo {
  width: auto;
  display: block;
  height: 30px;
}

.header-site .title {
  font-size: 1.6em;
}

.header-site ul {
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-alt);
  overflow: hidden;
  flex-flow: row nowrap;
}

.header-site li a {
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: flex;
  padding: var(--spacing-01);
}

.header-site li a:hover {
  background: var(--color-bg);
}

.header-site li:first-of-type {
  border-right: var(--border);
}

.header-site li:last-of-type {
  border-left: var(--border);
}
