/* .c-list-row { } */

.c-list-row[data-state="add"] {
  background-color: var(--color-bg);
}

.c-list-row[data-state="remove"] {
  background-color: var(--color-danger);
}

header.c-list-row-header {
  gap: 0;
  position: relative;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

.c-list-row-header[data-is-over="true"] {
  font-weight: bold;
  gap: 0;
}

.c-list-row-action {
  text-transform: uppercase;
  padding: var(--spacing-02);
  flex: 1 1 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
  transition: background-color 0.1s ease;
}

.c-list-row-action[data-action="add"] {
  justify-content: flex-start;
}

.c-list-row-action[data-action="remove"] {
  justify-content: flex-end;
}

.c-list-row-action[data-action="add"][data-is-over="true"] {
  background-color: var(--color-hl);
}

.c-list-row-action[data-action="remove"][data-is-over="true"] {
  background-color: var(--color-danger);
}

.c-list-row-label {
  display: block;
  padding: var(--spacing-02) var(--spacing-01);
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
  white-space: nowrap;
  flex: 1;
  text-align: center;
}

.c-list-row-header[data-is-over="true"] .c-list-row-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* .c-list-row[data-open="true"] { } */

.c-list-row[data-open="true"] .c-list-row-label {
  border-bottom: var(--border);
}

.c-list-row-header button {
  padding: var(--spacing-02);
  border-radius: 0;
  border: none;
  flex: 0 0 auto;
  background: transparent;
}

.c-list-row-header > button:first-of-type {
  border-right: var(--border);
}

.c-list-row-header > button:last-of-type {
  border-left: var(--border);
}

.c-list-row .c-list-row-disclosure-button:hover {
  background: var(--color-bg);
}

.c-list-row-indicator {
  text-transform: uppercase;
  padding: var(--spacing-02);
  border-radius: 0;
  border: none;
  flex: 0 0 auto;
}

.c-list-row form {
  background-color: var(--color-bg);
}

.c-list-row-disclosure-button[data-action="delete"]:hover {
  background-color: var(--color-danger);
}

.c-list-row[data-open="true"][data-action="edit"]
  .c-list-row-disclosure-button[data-action="edit"] {
  background-color: var(--color-bg);
}

.c-list-row[data-open="true"][data-action="edit"]
  .c-list-row-disclosure-button[data-action="delete"] {
  border-bottom: var(--border);
}

.c-list-row[data-open="true"][data-action="delete"]
  .c-list-row-disclosure-button[data-action="delete"] {
  background-color: var(--color-danger);
}

.c-list-row[data-open="true"][data-action="delete"]
  .c-list-row-disclosure-button[data-action="edit"] {
  border-bottom: var(--border);
}
