.r-lists {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 600px) minmax(auto, 400px);
  gap: var(--spacing-02);
}

.r-lists-loading {
  padding: var(--spacing-01);
  width: max-content;
  background-color: var(--color-bg-alt);
  margin: auto;
}

.r-lists > header {
  align-items: flex-end;
  justify-content: space-between;
}

.r-lists .content-wrapper {
  flex-flow: row nowrap;
}

.r-lists .list-wrapper {
  gap: 0;
  background: var(--color-bg-alt);
  height: min-content;
  position: sticky;
  top: var(--spacing-02);
}

.r-lists-list-header {
  padding: var(--spacing-01) var(--spacing-02) 0 var(--spacing-02);
}

.r-lists .list-following-wrapper {
  gap: 0;
}

.r-lists .c-following-lists {
}

.r-lists .c-list-list {
  border-top: var(--border);
}
