article.c-following-card {
  gap: 0;
  flex-flow: row nowrap;
  background: var(--color-bg-alt);
  border-radius: var(--spacing-h);
  overflow: hidden;
}

.c-following-card-avatar-wrapper {
  flex: 0 0 auto;
  width: 35%;
  height: auto;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: auto;
}

.c-following-card-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-following-card-content {
  --space: var(--spacing-h);

  flex: 1;
  padding: var(--spacing-02);
  overflow: hidden;
}

.c-following-card-header {
  --space: var(--spacing-q);
}

.c-following-card-subtitle {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-following-card-tag-list {
  list-style: none;
  padding: 0;
}

.c-following-card-note {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
