.c-message {
  background: var(--color-bg-alt);
  padding: var(--spacing-02) var(--spacing-01);
  border: var(--border);
  border-top: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  text-align: center;
}
